/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;

  /* Typography */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --smallest-font-size: 0.7rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 3rem;
  --mb-5: 5rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
*,
::before,
::after {
  box-sizing: borderbox;
}

html {
  scroll-behavior: smooth;
}

/* Variables Dark Theme */
body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}

/* Button Dark Light */
.change-theme {
  position: absolute;
  right: 0;
  top: 1.5rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--title-color);
}

/* Classes modified to reduce size and print on A4 sheet */
body {
  margin: 0 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* Class CSS */
.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: var(--mb-3);
  padding-right: 0.5rem;
}

.project-title {
  margin-bottom: var(--mb-3);
}

.project-title a:hover {
  color: var(--text-color);
}

/* Add a color to the active/current link */
#active-link {
  color: var(--title-color);
}

/* Layout */
.bd-container {
  /* max-width: 1200px;
  width: calc(100% - 3rem); */
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: var(--mb-3);
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3;
}

/* Navigation Bar */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
  }
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item {
  text-align: center;
}

.nav__list {
  display: grid;
  /* TODO: tutorial has this set as 1fr */
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Show menu */
.show-menu {
  bottom: var(--header-height);
}

/* Active menu link */
.active-link {
  color: var(--title-color);
}

/*======================== HOME ========================*/
.home {
  position: relative;
}

.home__container {
  gap: 3rem;
}

.home__data {
  gap: 0.5rem;
  text-align: center;
}

.home__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-top: 0;
  margin-bottom: var(--mb-1);
  object-fit: cover;
}

.home__title {
  font-size: var(--h1-font-size);
}

.home__professional {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__address {
  gap: 1rem;
}

.home__information {
  display: flex;
  align-items: center;
  /* TODO: follow up on centering information */
  justify-self: center;
  font-size: var(--small-font-size);
}

.home__icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

/*======================== SOCIAL ========================*/
.social__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
}

.social__data {
  justify-self: center;
}

.social__link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  /* margin-bottom: var(--mb-2); */
}

.social__link:hover {
  color: var(--title-color);
}

.social__icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

/*======================== PROFILE ========================*/
.profile__description {
  text-align: center;
}

/*======================== PROJECTS ========================*/
.project__content {
  display: flex;
}

.project__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.project__company {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.project__description {
  margin-top: auto;
  text-align: justify;
  /* margin-bottom: var(--mb-3); */
}

.project__tool {
  padding: 1px 5px;
  color: var(--body-color);
  font-size: var(--smaller-font-size);
  border-radius: 30px;
}

.project__hardware {
  background-color: crimson;
}

.project__software {
  background-color: cornflowerblue;
}

.project__topic {
  background-color: limegreen;
}

.project__data > p, video, img {
  margin-top: var(--mb-2);
}

/* Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides0, .mySlides1, .mySlides2, .mySlides3 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: var(--text-color-light);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--text-color-light);
  font-size: 12px;
  padding: 8px 12px;
  right: 0;
  bottom: 0;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot0, .dot1, .dot2, .dot3 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*======================== Scroll Top ========================*/

.scrolltop {
  position: fixed;
  right: 1.15rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--container-color-alt);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop__icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}

footer {
  font-size: var(--smallest-font-size);
  color: var(--text-color-light);
  text-align: center;
  margin-bottom: 4rem;
}

/*======================== MEDIA QUERIES ========================*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px) {
  .nav__list {
    /* TODO: tutorial has this set as 1fr */
    grid-template-columns: repeat(2, auto);
    gap: 1rem 0.5rem;
  }
}

/* Classes modified for large screen sizes */
@media screen and (min-width: 968px) {
  body {
    /* margin: 3rem 0; */
  }

  .bd-container {
    margin-left: 0;
    margin-right: 0;
  }

  .l-header{
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    background-color: var(--container-color);
    /* box-shadow: 0 0 8px rgba(13, 12, 12, 0.15); */
  }

  .resume__left {
    background-color: var(--container-color-alt);
    table-layout: fixed;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    /* font-size: 1vw; */
    padding: 1rem 1.5rem;
    object-fit: cover;
    overflow-y: auto;
  }

  .resume__right {
    padding: 1rem 3rem;
  }

  .section-title,
  .profile__description {
    text-align: initial;
  }

  .section-title {
    margin-bottom: var(--mb-2);
  }
  
  .project-title {
    top: 0;
    position: fixed;
    padding-top: 2rem;
    z-index: var(--z-fixed);
    background-color: var(--container-color);
    display: flex;
    width: 72%;
    border-bottom: 3px solid var(--text-color);
  }

  /* .project-title:after
  {
      content: ' ';
      display: block;
      border: 1px solid var(--text-color);
      width: 70.4%;
      margin-top: 0.8rem;
  } */

  .nav-bar {
    width: 33.33333%;
    text-align: center;
  }

  .home__information {
    justify-self: initial;
  }

  .social__data {
    justify-self: left;
  }

  .social__link {
    /* TODO: follow up on margin */
    margin-left: 0;
    padding-left: 0;
    
  }

  .profile__description {
    padding-bottom: 0;
    /* font-size: 1vw; */
  }

  .project__container {
    padding-top: 3rem;
    display: grid;
    /* grid-template-columns: repeat(autofit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    /* overflow: scroll; */
    /* justify-content: space-between; */
  }

  .project__content {
    display: flex;
    flex-flow: column;
    /* column-gap: 3.5rem; */
  }

  .show-scroll {
    bottom: var(--mb-4);
  }

  footer {
    text-align: right;
    margin-bottom: 0rem;
  }
}
